# Core functionality - changes here should be rare!
/src/app.py                   @zugumzugA
/src/backend/database.py      @zugumzugA
/src/backend/routers/auth.py  @zugumzugA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @zugumzugA
